
dist/*
src/_ReSharper*
reports/*
src/Salient.ReflectiveLoggingAdapter.35.Tests/bin/*
src/Salient.ReflectiveLoggingAdapter.35.Tests/obj/*
src/Salient.ReflectiveLoggingAdapter.35.UsageExamples/bin/*
src/Salient.ReflectiveLoggingAdapter.35.UsageExamples/obj/*
src/Salient.ReflectiveLoggingAdapter.35/bin/*
src/Salient.ReflectiveLoggingAdapter.35/obj/*
*ReSharper*
src/Salient.ReflectiveLoggingAdapter.Phone7.Tests/Bin/*
src/Salient.ReflectiveLoggingAdapter.Phone7.Tests/obj/*
src/Salient.ReflectiveLoggingAdapter.Phone7/Bin/*
src/Salient.ReflectiveLoggingAdapter.Phone7/obj/*
src/Salient.ReflectiveLoggingAdapter.Silverlight.Tests/Bin/*
src/Salient.ReflectiveLoggingAdapter.Silverlight.Tests/obj/*
src/Salient.ReflectiveLoggingAdapter.Silverlight/Bin/*
src/Salient.ReflectiveLoggingAdapter.Silverlight/obj/*
src/Salient.ReflectiveLoggingAdapter.suo